# vim
*~
/compile_commands.json
*.swp

# vscode
.vscode/

# clangd
.clangd/
.cache/

# clang-format
.clang-format

# doxygen
/doxy

######### build & generated packages #########
build/
_hpkg/
_hpb/
_deps/
_package/
_packages/
dist/
